{% extends "base.html" %}

{% block title %}Iniciar Sesión - Catalogo Joyero{% endblock %}

{% block extra_head %}
{% endblock %}

{% block header %}Iniciar Sesión{% endblock %}

{% block content %}
{% if session.usuario %}
<p>
    Ya estás logueado como {{ session.usuario }}.
    <button type="button" onclick="window.location.href='/logout'" class="btn-secondary">Cerrar Sesión</button>
</p>
{% else %}
<section id="login-form">
    <form method="POST">
        <p>
            <label for="login_input">Nombre de Usuario o Email:</label>
            <input
                type="text"
                id="login_input"
                name="login_input"
                placeholder="Introduce tu nombre de usuario o email"
                required
            />
        </p>
        <p>
            <label for="password">Contraseña:</label>
            <input
                type="password"
                id="password"
                name="password"
                placeholder="Introduce tu contraseña"
                required
            />
            <span class="toggle-password" onclick="togglePasswordVisibility()">👁️</span>
        </p>
        <p>
            <input type="submit" value="Iniciar Sesión" class="login btn-primary" />
        </p>
    </form>
    <p>
        <a href="{{ url_for('forgot_password') }}">¿Olvidaste tu contraseña?</a>
    </p>
    <p>
        ¿No tienes cuenta? <a href="{{ url_for('register') }}">Regístrate aquí</a>
    </p>
</section>
{% endif %}
{% endblock %}

{% block scripts %}
<script>
    function togglePasswordVisibility() {
        const passwordInput = document.getElementById("password");
        if (passwordInput.type === "password") {
            passwordInput.type = "text";
        } else {
            passwordInput.type = "password";
        }
    }
</script>
{% endblock %}
