{% extends "base.html" %}

{% block title %}Registro - Catalogo Joyero{% endblock %}

{% block header %}Registro de Usuario{% endblock %}

{% block content %}
<section id="register-form">
    <form method="POST" class="register-form">
        <p>
            <label for="nombre">Nombre de Usuario:</label>
            <input
                type="text"
                id="nombre"
                name="nombre"
                placeholder="Elige un nombre de usuario"
                required
            />
        </p>
        <p>
            <label for="email">Email:</label>
            <input
                type="email"
                id="email"
                name="email"
                placeholder="Introduce tu email"
                required
            />
        </p>
        <p>
            <label for="password">Contraseña:</label>
            <input
                type="password"
                id="password"
                name="password"
                placeholder="Elige una contraseña segura"
                required
            />
            <span class="toggle-password" onclick="togglePasswordVisibility()">👁️</span>
        </p>
        <p>
            <label for="confirm_password">Confirmar Contraseña:</label>
            <input
                type="password"
                id="confirm_password"
                name="confirm_password"
                placeholder="Repite la contraseña"
                required
            />
            <span class="toggle-password" onclick="togglePasswordVisibility()">👁️</span>
        </p>
        <p>
            <input type="submit" value="Registrarse" class="login btn-primary" />
        </p>
    </form>
    <p>
        ¿Ya tienes cuenta? <a href="{{ url_for('login') }}">Inicia sesión aquí</a>
    </p>
</section>
<script>
    function togglePasswordVisibility() {
        const passwordInput = document.getElementById("password");
        if (passwordInput.type === "password") {
            passwordInput.type = "text";
        } else {
            passwordInput.type = "password";
        }
    }
</script>
{% endblock %}
